{% extends 'base.html' %}
{% block content %}
<main>
    <div class="name__directoty">
        {{user.first_name}}
    </div>

    <form class="ChangeName" action="PersonalPage.html" method="post">
        <div>
            <label for="InputName">ФИО</label>
            <input type="text" class="InputName">
            <input type="submit" name="" value="Сохранить" class="SubmitName">
        </div>
        <a href="#">Восстановить пароль</a>
    </form>
</main>

<link rel="stylesheet" href="static/css/global.css">
<link rel="stylesheet" href="static/css/PersonalPage.css">
{% endblock %}