{% extends 'base.html' %}
{% load static %}
{% load group_check %}
{% block content %}
<main>
    <div class="name__directoty">
        Личный кабинет
    </div>

    <form class="ChangeName" action="" method="post">
        <p>Ваша роль:
            {% if user|in_group:"Администратор" %}
            Администратор<br>
            {% endif %}
            {% if user|in_group:"Сотрудник" %}
            Сотрудник<br>
            {% endif %}
            {% if user|in_group:"Сотрудник ОПиР" %}
            Сотрудник ОПиР<br>
            {% endif %}
            {% if user|in_group:"Сотрудник ОС" %}
            Сотрудник ОС<br>
            {% endif %}{% if user|in_group:"Сотрудник Коммерческого блока" %}
            Сотрудник Коммерческого блока<br>
            {% endif %}
        </p><br>
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Сохранить" class="SubmitName">
    </form>
    <a href="{% url 'password_reset' %}">Восстановить пароль</a>
</main>
{% endblock %}
