{% extends 'base.html' %}

{% block content %}

<link rel="stylesheet" href="/static/css/global.css">
<link rel="stylesheet" href="/static/css/basemenu.css">
<link rel="stylesheet" href="/static/css/ProductCreate.css">

<main>
    <div class="name__directoty">
        База знаний &#8620; Продукты &#8620; {{product.name}}
    </div>

    <div class="ProductButtons">
        <button class="tablink" onclick="openPage('FirstInfo', this)"
                id="defaultOpen">Первичная информация
        </button>
        <button class="tablink" onclick="openPage('DealInfo', this)">Информация
            для ведения сделок
        </button>
        <button class="tablink" onclick="openPage('ExtraInfo', this)">
            Дополнительная информация
        </button>
    </div>

    <div id="FirstInfo" class="tabcontent">
        <form id="productForm" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="left-column">
                <div class="header">
                        <a class="edit-button" href="/product/edit/{{product.id}}">Редактировать</a>
                        <button type="submit" class="delete-button"
                                name="delete">
                            Удалить
                        </button>
                        <input type="hidden" name="product_id"
                               value="{{product.pk}}">
                    </div>
                <div class="product-field">
                    <label>Топ: {% if product.top_certified %} ✓ {% endif %}</label>
                </div>
                <div class="product-field">
                    <label>Вендор:</label> <a href="/vendor/{{ product.vendor.id }}">{{ product.vendor.name }}</a>
                </div>
                <div class="product-field">
                    <label>Наименование продукта:</label> {{ product.name }}
                </div>

                <div class="product-field">
                    <label>Тип продукта: </label> {% if product.product_type %}{{product.product_type}}{% endif %}
                </div>
                <div class="product-field">
                    <label>Контактное лицо партнера:</label> {% if product.vendor %}<a href="/vendor/{{ product.vendor.id }}">Посмотреть</a>{% endif %}
                </div>
                <div class="product-field">
                    <label>Аналоги:</label> <a href="/product/{{ product.analogs }}">Аналог</a>
                </div>

                <div class="product-field">
                    <label>Краткое описание:</label> {{ product.brif_description }}
                </div>

                <div class="product-field">
                    <label>Кому и для чего:</label> {{ product.whom_and_what_for }}
                </div>


                <div class="product-field">
                    <label>Комплект отгрузки:</label> {{ product.ship_kit }}
                </div>

                <div class="product-field">
                    <label>Техническая поддержка:</label> {{ product.tech_support }}
                </div>

                <div class="product-field">
                    <label>Принцип владения:</label> {{ product.owner_type }}
                </div>


                <div class="product-field">
                    <label>Компетенции:</label> {% if product.competitions %}
                    <a href="{{ product.competitions.url }}" class="price-link"
                        target="_blank">Компетенции</a>{% endif %}
                </div>
                <div class="product-field">
                    <label>Общая анкета:</label> {% if product.gen_form %}
                    <a href="{{ product.gen_form.url }}" class="price-link"
                         target="_blank">Общая форма</a>{% endif %}
                </div>
                <div class="product-field"><label>Прайсы:</label> {% if product.vendor %}<a href="/vendor/{{ product.vendor.id }}">Посмотреть</a>{% endif %}</div>
                <div class="product-field">
                    <label>Баттл-кард:</label> {% if product.battle_card %}
                    <a href="{{ product.battle_card.url }}" class="price-link"
                        target="_blank">Баттл-кард</a>{% endif %}
                </div>


                <div class="product-field">
                    <label>Дополнительный комментарий:</label>{{ product.extra_comments1 }}
                </div>
            </div>

            <div class="right-column">


                <fieldset>
                    <legend>Блок «Реализация»</legend>
                    <div class="product-field">
                        <label>Тип реализации:</label> {% if product.type_reliz %} {{ product.type_reliz }} {% endif %}
                    </div>
                    <div class="product-field">
                        <label>Описание лиц:</label> {{ product.reliz_brif }}
                    </div>
                </fieldset>

                <fieldset>
                    <legend>Блок «Лицензирование»</legend>
                    <div class="product-field">
                        <label>Тип лицензирования:</label> {% if product.type_license %} {{ product.type_license }} {% endif %}
                    </div>
                    <div class="product-field">
                        <label>Описание:</label> {{ product.license_brif }}
                    </div>
                    <div class="product-field">
                        <label>Дата актуализации:</label> {{ product.license_date }}
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Блок «Варианты отгрузки»</legend>
                    <div class="product-field">
                        <label>Вариант отгрузки:</label> {% if product.type_get %} {{ product.type_get }} {% endif %}
                    </div>
                    <div class="product-field">
                        <label>Описание:</label> {{ product.get_brif }}
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Блок «Сертификация»</legend>
                    <div class="product-field">
                        <label>Сертификация:</label> {% if product.type_cert %} {{ product.type_cert }} {% endif %}
                    </div>
                    <div class="product-field">
                        <label>Описание сертиф:</label> {{ product.cert_brif }}
                    </div>
                    <div class="product-field">
                        <label>Срок действия:</label> {{ product.cert_date }}
                    </div>
                </fieldset>

            </div>
        </form>
    </div>

    <div id="DealInfo" class="tabcontent">
        <form id="productForm">
        <div class="left-column">
            <fieldset>
                <legend>Техническое задание</legend>
                <div class="product-field">
                    <label>Перечень характеристик/функционал:</label> {% if product.tz_descriptions %}
                    <a href="{{ product.tz_descriptions.url }}" class="price-link"
                        target="_blank">Перечень характеристик</a>{% endif %}
                </div>
                <div class="product-field">
                    <label>ТЗ по 44-ФЗ:</label>  {% if product.tz_44fzs %}
                    <a href="{{ product.tz_44fzs.url }}" class="price-link"
                        target="_blank">44-ФЗ</a>{% endif %}
                </div>
                <div class="product-field">
                    <label>Дата актуализации:</label> {{ product.tz_date }}
                </div>
            </fieldset>

            <!-- Блок "Для проведения пилота" -->
            <fieldset>
                <legend>Для проведения пилота</legend>
                <div class="product-field">
                    <label>Анкета по пилоту:</label> {% if product.pilot_quests %}
                    <a href="{{ product.pilot_quests.url }}" class="price-link"
                        target="_blank">Файл</a>{% endif %}
                </div>
                <div class="product-field">
                    <label>ПМИ:</label> {% if product.pilot_pmis %}
                    <a href="{{ product.pilot_pmis.url }}" class="price-link"
                        target="_blank">Файл</a>{% endif %}
                </div>
                <div class="product-field">
                    <label>Как проводить пилот:</label> {{ product.pilot_descriptions }}
                </div>
                <div class="product-field">
                    <label>План пилота:</label>  {% if product.pilot_plans %}
                    <a href="{{ product.pilot_plans.url }}" class="price-link"
                        target="_blank">Файл</a>{% endif %}
                </div>
                <div class="product-field">
                    <label>Дистрибутив:</label> {{ product.pilot_diss }}
                </div>
            </fieldset>
        </div>

        <!-- Блок "Для регистрации сделок" -->
        <div class="right-column">
            <fieldset>
                <legend>Для регистрации сделок</legend>
                <div class="product-field">
                    <label>Продажа через "Axoft" (загрузка файла):</label>  {% if product.reg_axofts %}
                    <a href="{{ product.reg_axofts.url }}" class="price-link"
                        target="_blank">Файл</a>{% endif %}
                </div>
                <div class="product-field">
                    <label>Контакты по прайсу: </label> {{ product.contact_price }}
                </div>
                <div class="product-field">
                    <label>Анкета для регистрации сделки (загрузка
                        файла):</label> {% if product.reg_quest_register_deals %}
                    <a href="{{ product.reg_quest_register_deals.url }}" class="price-link"
                        target="_blank">Файл</a>{% endif %}
                </div>
                <div class="product-field">
                    <label>Партнерский статус:</label> {% if product.vendor %}<a href="/vendor/{{ product.vendor.id }}">Посмотреть</a>{% endif %}
                </div>
                <div class="product-field">
                    <label>Схема вознаграждения:</label> {{ product.reg_reward_schemes }}
                </div>
            </fieldset>

            <div class="product-field">
                <label>Дополнительный комментарий:</label> {{ product.extra_comments2 }}
            </div>
        </div>
        </form>
    </div>

    <div id="ExtraInfo" class="tabcontent">
        <div class="row">
            <div class="colum">
                <fieldset>
                    <legend>Материалы для ознакомления от Вендора</legend>
                    <label>Брошюра с официального сайта: {% if product.brochures %}
                    <a href="{{ product.brochures.url }}" class="price-link"
                        target="_blank">Файл</a>{% endif %}</label>
                    <label>Презентация продукции: {% if product.presentation_products %}
                    <a href="{{ product.presentation_products.url }}" class="price-link"
                        target="_blank">Файл</a>{% endif %}</label>
                    <label>Вебинар по продукту: {{ product.webinars }}</label>
                </fieldset>
                <fieldset>
                    <legend>Внутрение материалы</legend>
                    <label>Презентация: {{ product.presentations }}</label>
                    <label>Закрытый вебинар для партнеров: {{ product.partner_webinars }}</label>
                </fieldset>
            </div>
            <div class="colum">
            </div>
        </div>
    </div>
    </form>

</main>

<script src="/static/js/scripts.js"></script>
{% endblock %}