{% extends 'base1.html' %}

{% block content %}
{% load group_check %}
<main>

    <!-- Путь к файлу -->
    <div class="name__directoty">
        Сотрудники
    </div>
    <!-- Путь к файлу -->

    <!--  -->
    <div class="UsersRolesBarButtons">
        <div>
            <button class="tablink" onclick="openPage('Users', this)" id="defaultOpen">Сотрудники</button>
        </div>
    </div>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {{ message }}
        </li>
        {% endfor %}
    </ul>
    {% endif %}


    <div id="Users" class="tabcontent">

        <!-- Пригашение новых пользователей -->
        <div id="AddNewUser" class="modalMember">

            <!-- Модальный контент -->
            <form class="modal-content" method="post">
                <div class="namecontainer">
                    Приглашение сотрудника
                </div>

                <div class="container">
                    {% csrf_token %}
                    <label for="email">E-mail:</label>
                    <input type="email" id="email" name="email" required>
                </div>

                <div class="container">
                    <div class="custom-select">
                        <label for="roles" class="hidden">Выберите роль</label>
                        <select name="roles" id="roles">
                            <option value="Сотрудник">Сотрудник</option>
                            <option value="Сотрудник ОПиР">Сотрудник ОПиР</option>
                            <option value="Сотрудник ОС">Сотрудник ОС</option>
                            <option value="Сотрудник Коммерческого блока">Сотрудник Коммерческого блока</option>
                            <option value="Администратор">Администратор</option>
                        </select>
                    </div>
                </div>

                <div class="PostButtons">
                    <input type="submit" value="Отправить" name="addUser">
                    <input type="reset" value="Отменить"
                           onclick="document.getElementById('AddNewUser').style.display='none'">
                </div>
            </form>
        </div>
        <!-- Пригашение новых пользователей -->
        {% for user in users %}
        <div id="ChangeRole{{ user.id }}" class="modalMember">
            <form class="modal-content" method="post">
                {% csrf_token %}
                <div class="namecontainer">
                    Выберите роль
                </div>
                <div class="container">
                    <label class="checkbox-label"><input type="checkbox" name="role" value="Администратор" {% if user|in_group:"Администратор" %} checked {% endif %}>
                        Администратор</label>
                    <label class="checkbox-label"><input type="checkbox" name="role" value="Сотрудник" {% if user|in_group:"Сотрудник" %} checked {% endif %}>
                        Сотрудник</label>
                    <label class="checkbox-label"><input type="checkbox" name="role" value="Сотрудник ОПиР" {% if user|in_group:"Сотрудник ОПиР" %} checked {% endif %}>
                        Сотрудник ОПиР</label>
                    <label class="checkbox-label"><input type="checkbox" name="role" value="Сотрудник ОС" {% if user|in_group:"Сотрудник ОС" %} checked {% endif %}> Сотрудник
                        ОС</label>
                    <label class="checkbox-label"><input type="checkbox" name="role" value="Сотрудник Коммерческого блока" {% if user|in_group:"Сотрудник Коммерческого блока" %} checked {% endif %}> Сотрудник Коммерческого блока</label>
                </div>
                <div class="PostButtons">
                    <input type="submit" value="Отправить" name="changeRole">
                    <input type="reset" value="Отменить"
                           onclick="document.getElementById('ChangeRole{{ user.id }}').style.display='none'">
                    <input type="hidden" name="user_id" value="{{ user.id }}">
                </div>
            </form>
        </div>
        {% endfor %}
        <div class="UsersRolesAddButtons">
            <button onclick="document.getElementById('AddNewUser').style.display='block'">Пригласить сотрудника</button>
        </div>

        <div class="UsersRolesContent">
            <div class="UsersRolesContentHat">
                <p>ФИО</p>
                <p>Адрес электронной почты</p>
                <p>Роль</p>
                <p></p>
            </div>

            <div class="UsersRolesContentMain">
                <ul>
                    {% for user in users %}
                    <li class="user-row">
                        <div class="user-info"><p>{{ user.first_name }} {{ user.last_name }}</p></div>
                        <div class="user-info"><p>{% if user.email %}{{ user.email }} {% else %} {{ user.username }}{% endif %}</p></div>
                        <div class="user-roles">
                            <p>{{ user.profile }}</p>
                            <ul class="role-list">
                                {% if user|in_group:"Администратор" %}
                                <li>Администратор</li>
                                {% endif %}
                                {% if user|in_group:"Сотрудник" %}
                                <li>Сотрудник</li>
                                {% endif %}
                                {% if user|in_group:"Сотрудник ОПиР" %}
                                <li>Сотрудник ОПиР</li>
                                {% endif %}
                                {% if user|in_group:"Сотрудник ОС" %}
                                <li>Сотрудник ОС</li>
                                {% endif %}
                                {% if user|in_group:"Сотрудник Коммерческого блока" %}
                                <li>Сотрудник Коммерческого блока</li>
                                {% endif %}
                            </ul>
                        </div>
                        <div class="user-actions">
                            <button type="button"
                                    onclick="document.getElementById('ChangeRole{{ user.id }}').style.display='block'">
                                Редактировать
                            </button>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>

    </div>
</main>
<script src="\static\js\scripts.js"></script>
<link rel="shortcut icon" href="static/images/marinette001.png">

<link rel="stylesheet" href="/static/css/global.css">
<link rel="stylesheet" href="/static/css/basemenu.css">
<link rel="stylesheet" href="/static/css/Usersroles.css">
<link rel="stylesheet" href="/static/css/popups.css">
{% endblock %}