<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <script src="{% static 'js/auth.js' %}"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Сброс пароля</title>
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container">
        <h2>Сброс пароля</h2>
        <form method="post">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {% if form.email.errors %}
                    <div class="alert alert-danger">
                        {{ form.email.errors }}
                    </div>
                {% endif %}
            <div class="form-group">
                <label for="email">Адрес электронной почты</label>
                <input type="email" id="email" name="email" placeholder="Введите адрес электронной почты">
            </div>
            <button type="submit">Отправить ссылку для сброса пароля</button>
        </form>
    </div>
</body>
</html>
