/* login.css */
body {
    font-family: Inter, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    width: 550px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    min-height: 300px; /* Минимальная высота для контейнера */
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block; /* Новая строка для каждой метки */
    font-weight: bold; /* Жирный текст */
    margin-bottom: 10px; /* Отступ между метками */
    color: #333; /* Цвет текста */
    font-size: 16px; /* Размер шрифта */
}


input[type="text"],
input[type="password"] {
    width: 95%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

/* custom.css */
.login-button {
    background-color: #242424; /* Цвет фона кнопки */
    color: #fff; /* Цвет текста кнопки */
    font-size: 18px; /* Размер шрифта */
    padding: 10px 20px; /* Внутренний отступ */
    border: none; /* Убираем границу */
    border-radius: 5px; /* Закругление углов */
    cursor: pointer; /* Задаем вид курсора при наведении */
    transition: background-color 0.3s ease; /* Анимация при наведении */
}

.login-button:hover {
    background-color: #0056b3; /* Новый цвет фона при наведении */
}


.errorlist {
  margin: 0;
  list-style: none;
  color: #ff0000; /* Цвет текста ошибки */
  font-weight: bold; /* Жирный шрифт */
  background-color: #ffeeee; /* Цвет фона списка ошибок */
  border: 1px solid #ff0000; /* Граничная рамка */
  padding: 10px; /* Отступ вокруг списка ошибок */
  border-radius: 5px; /* Закругленные углы */
}

.errorlist li {
  margin-bottom: 5px; /* Отступ между сообщениями об ошибках */
}

.errorlist li:before {
  content: "\2716"; /* Замените это на иконку или символ для обозначения ошибки */
  margin-right: 5px; /* Отступ между иконкой и текстом */
}

/* Стиль для поля ввода пароля */
.password-input {
  width: 100%; /* Ширина поля ввода, можете настроить по своему усмотрению */
  padding: 10px; /* Отступы вокруг текста в поле ввода */
  font-size: 16px; /* Размер шрифта */
  border: 1px solid #ccc; /* Граничная рамка */
  border-radius: 5px; /* Закругленные углы */
  background-color: #f5f5f5; /* Фоновый цвет поля */
  color: #333; /* Цвет текста */
  transition: border-color 0.3s, box-shadow 0.3s; /* Плавные переходы цвета рамки и тени */
}

/* Если вы хотите добавить стили для фокуса (когда пользователь кликает на поле) */
.password-input:focus {
  outline: none; /* Убираем стандартное выделение поля при фокусе */
  border-color: #007bff; /* Цвет рамки при фокусе */
  box-shadow: 0 0 5px #007bff; /* Тень при фокусе */
}

/* Если вы хотите добавить иконку слева от поля пароля, вы можете использовать псевдоэлемент before: */
.password-input:before {
  content: "\1F512"; /* Иконка замка (Unicode) */
  font-size: 20px;
  margin-right: 10px;
}

/* Если вы хотите добавить анимацию при фокусе: */
.password-input:focus:before {
  transform: rotate(20deg); /* Поворот иконки при фокусе */
  transition: transform 0.3s;
}

/* Стиль для поля ввода логина или email */
.login-input {
  width: 100%; /* Ширина поля ввода, можете настроить по своему усмотрению */
  padding: 10px; /* Отступы вокруг текста в поле ввода */
  font-size: 16px; /* Размер шрифта */
  border: 1px solid #ccc; /* Граничная рамка */
  border-radius: 5px; /* Закругленные углы */
  background-color: #f5f5f5; /* Фоновый цвет поля */
  color: #333; /* Цвет текста */
  transition: border-color 0.3s, box-shadow 0.3s; /* Плавные переходы цвета рамки и тени */
}

/* Если вы хотите добавить стили для фокуса (когда пользователь кликает на поле) */
.login-input:focus {
  outline: none; /* Убираем стандартное выделение поля при фокусе */
  border-color: #007bff; /* Цвет рамки при фокусе */
  box-shadow: 0 0 5px #007bff; /* Тень при фокусе */
}

/* Если вы хотите добавить иконку слева от поля ввода, вы можете использовать псевдоэлемент before: */
.login-input:before {
  content: "\1F464"; /* Иконка пользователя (Unicode) */
  font-size: 20px;
  margin-right: 10px;
}

/* Если вы хотите добавить анимацию при фокусе: */
.login-input:focus:before {
  transform: scale(1.2); /* Увеличение иконки при фокусе */
  transition: transform 0.3s;
}

h2 {
    font-size: 36px; /* Увеличьте размер шрифта */
    font-weight: bold; /* Жирный текст */
    color: #242424; /* Синий цвет */
    margin-top: 20px; /* Увеличьте верхний отступ */
    text-align: center; /* Выравнивание по центру */
    text-transform: uppercase; /* Верхний регистр текста */
    letter-spacing: 2px; /* Расстояние между буквами */
    position: relative; /* Относительное позиционирование для анимации */
}

/* Анимация для заголовка */
h2::after {
    content: ''; /* Добавляем пустой элемент для анимации */
    position: absolute; /* Абсолютное позиционирование для анимации */
    bottom: -5px; /* Смещаем вниз, чтобы скрыть */
    left: 0;
    width: 100%;
    height: 2px; /* Толщина линии анимации */
    background-color: #242424; /* Цвет линии анимации */
    transform-origin: 50%; /* Точка вращения анимации в середине */
    transform: scaleX(0); /* Начальное состояние: линия невидима */
    transition: transform 0.3s ease; /* Анимация с уменьшением */
}

/* Анимация при наведении курсора */
h2:hover::after {
    transform: scaleX(1); /* Конечное состояние: линия видима */
}

/* Стилизация ссылки "Восстановить пароль" */
.password-reset-link {
    color: #007bff;
    text-decoration: none;
    font-size: 14px;
}

.password-reset-link:hover {
    text-decoration: underline; /* Добавляем подчеркивание при наведении */
}

.logos {
    max-width: 100px; /* Устанавливаем максимальную ширину логотипа */
    margin-right: 10px; /* Добавляем небольшой отступ между логотипом и надписью */
    background-color: #fff;
}