
.UsersRolesBarButtons {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.UsersRolesButtons {
    display: flex;
    align-items: center;
    gap: 20px;
}

/* Стиль cсылок на вкладку */


.tablink:hover {
    background-color: #777;
}

/* Стиль содержимого вкладки (и добавить высоту: 100% для полного содержимого страницы) */
.tabcontent {
    display: none;
}

.UsersRolesAddButtons {
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.UsersRolesAddButtons > button {
    padding: 5px 10px; /* Увеличьте отступы для кнопки */
    border: none; /* Уберите границу */
    border-radius: 5px;
    background-color: #D9D9D9; /* Цвет фона кнопки */
    color: #242424; /* Цвет текста */
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.UsersRolesAddButtons > button:hover {
    background-color: #188509; /* Измените цвет фона при наведении */
    color: #D9D9D9;
}

.UsersRolesAddButtons > button:focus {
    outline: none; /* Уберите обводку при фокусировке */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5); /* Тень при фокусировке */
}

.UsersRolesContent {
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.UsersRolesContentHat {
    display: flex;
    padding: 10px;
    color: #242424;
    border-bottom: 1px solid #D9D9D9;
}

.UsersRolesContentHat p {
    flex: 1;
    text-align: start;
    margin: 0;
    padding: 5px;
}

.UsersRolesContentMain ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.user-row {
    display: flex;
    justify-content: flex-start;
    padding: 10px;
    transition: background-color 0.3s;
    border: 1px solid #FDF9F6;
    border-radius: 15px;
}

.user-row:hover {
    border: 1px solid #D9D9D9;
}

.user-info, .user-roles, .user-actions {
    flex: 1;
}

.user-info p, .user-roles p {
    margin: 0;
    padding: 5px;
}

.role-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.role-list li {
    margin-bottom: 5px;
}

.user-actions {
    display: flex;
    align-items: center;
}

.user-actions > button {
    padding: 5px 10px; /* Увеличьте отступы для кнопки */
    background-color: #D9D9D9; /* Цвет фона кнопки */
    color: #242424; /* Цвет текста */
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    border-radius: 5px;
    border: none;
}

.user-actions > button:hover {
    background-color: #242424; /* Измените цвет фона при наведении */
    color: #D9D9D9;
}