{% extends 'base.html' %}

{% block content %}

<main>

<!-- Путь к файлу -->
<div class="name__directoty">
Сотрудники
</div>
<!-- Путь к файлу -->

    <!--  -->
    <div class="UsersRolesButtons">
      <button class="tablink" onclick="openPage('Users', this)" id="defaultOpen">Сотрудники</button>
      <button class="tablink" onclick="openPage('Roles', this)">Роли</button>
    </div>

<div id="Users" class="tabcontent">
  <div class="UsersRolesAddButtons">
    <button onclick="document.getElementById('AddNewUser').style.display='block'">Пригласить сотрудника</button>
  </div>
<!-- Пригашение новых пользователей -->
  <div id="AddNewUser" class="modalMember">

        <!-- Модальный контент -->
        <form class="modal-content" action="/action_page.php">
          <div class="namecontainer">
            Приглашение сотрудника
          </div>

          <div class="container">
            <label for="uname">Адрес электронной почты:</label>
            <input type="text" placeholder="Введите адрес" name="PostAdress" required>
          </div>

          <div class="PostButtons">
            <input type="submit" value="Отправить">
            <input type="reset" value="Отменить" onclick="document.getElementById('AddNewUser').style.display='none'">
          </div>
        </form>
      </div>
<!-- Пригашение новых пользователей -->
  <div class="UsersRolesContent">
    <div class="UsersRolesContentHat">
      <p>ФИО</p>
      <p>Адрес электронной почты</p>
      <p>Доступы</p>
    </div>

    <div class="UsersRolesContentMain">
      <ul>
        {% for user in users %}
        <li>
          <p>{{ user.first_name }} {{ user.last_name}}</p>
          <p>{{ user.email}}</p>
          <p><button type="button">Редактировать</button> </p>
        </li>
        {% endfor %}
      </ul>
    </div>
</div>
</div>

<div id="Roles" class="tabcontent">
  <div class="UsersRolesAddButtons">
    <button onclick="document.getElementById('AddNewRole').style.display='block'">Добавление роли</button>
  </div>

  <!-- Пригашение новых пользователей -->
    <div id="AddNewRole" class="modalMember">

          <!-- Модальный контент -->
          <form class="modal-content" action="/action_page.php">
            <div class="namecontainer">
              Добавление новой роли
            </div>

            <div class="container">
              <label for="RoleName">Наименование новой роли</label>
              <input type="text" placeholder="Введите название" name="RoleName" required>
            </div>

            <div class="EditNewRole">
              <div class="Rights">
                <div class="RightHat">
                  Права доступа
                </div>
                <ul id="CheckedRights">
                  <li>
                    Редактировать 1
                  </li>
                </ul>
              </div>

              <div class="Rights">
                <div class="RightHat">
                  Все права
                </div>
                <ul>
                  <li>
                    Редактировать 1
                    <input type="checkbox" name="" value="Редактировать 1" onclick="AddRight(this)">
                  </li>
                </ul>
              </div>
            </div>

            <div class="PostButtons">
              <input type="submit" value="Отправить">
              <input type="reset" value="Отменить" onclick="document.getElementById('AddNewRole').style.display='none'">
            </div>
          </form>
        </div>
  <!-- Пригашение новых пользователей -->

  <div class="UsersRolesContent">
    <div class="UsersRolesContentHat">
      <p>Наименование роли</p>
      <p>Доступы</p>
    </div>

    <div class="UsersRolesContentMain">
      <ul>
        {% for role in roles %}
        <li>
          <p>{{role.name}}</p>
          <p> <button type="button">Редактировать</button> </p>
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
</main>

    <script src="\static\js\scripts.js"></script>
    <link rel="shortcut icon" href="static/images/marinette001.png">

    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/basemenu.css">
    <link rel="stylesheet" href="/static/css/Usersroles.css">
    <link rel="stylesheet" href="/static/css/popups.css">
    {% endblock %}